body {
    margin: 0;
    padding: 0;
    background-color: white;

}

* {
    font-family: Tahoma;
    box-sizing: border-box;
}
.song-player {
    border: 1px solid rgba(13,23,20,0.2);
    border-radius: 10px;
}
.song-item {
    border: 1px solid rgba(13,23,20,0.2);
    border-radius: 10px;
}
.song-item:after {
    content: '';
    clear: both;
    display: table;
}
.song-index {
    float: left;
    width: 5%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
    padding-left: 1%;
}
.song-thumbnail {
    float: left;
    width: 10%;
}
.song-thumbnail img {
    width: 100%;
    border-radius: 10px;
}
.song-infor {
    padding-top: 1%;
    float: left;
    width: 20%;
}
.song-infor .song-name {
    font-weight: bold;
}
.song-infor .song-singer {
    font-weight: lighter;
    color: rgba(0,0,23,0.47);
}
.song-control {
    padding-top: 3%;
    color: dodgerblue;
    cursor: pointer;
    text-decoration: underline;
    float: left;
    width: 10%;
}
.song-detail {
    float: left;
    width: 50%;
    padding-top: 0.5%;
    font-weight: bold;
}
#my-mp3 {
    display: none;
    margin-top: 20px;

}

.song-menu {
    margin-top: 45px;
    float: right;
    margin-right: 70px;
    padding-bottom: 25px;
}

.hearder {
    background-color: rgba(124, 51, 255, 0.29);
    position: fixed;
    width: 100%;
    margin-left: 0;
}

.logo {
    margin-left: 50px;
    color: rgba(124, 51, 255, 0.29);
    margin-top: 24px;
    border-radius: 5px;
}

.hearder a {
    font-family: Freckle Face ;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 25px;
}
.fa{
    font-size: 30px;
}
.img{

}
.player{
    height: 100px;

}
.duoi{
    width: 100%;
    height: 250px;
    clear: both;
    background-color: #9ba7c0;


}
#footer {
    border-top: 2px dashed rgba(0, 0, 0, 1);
    padding: 20px 30px;
    box-sizing: border-box;
    background-color: #9ba7c0;

}
.boxContact {
    width: 30%;
    float: left;
    color: #4c4c4c;
    padding-top: 20px;
    font-size: 14px;
    margin-right: 40px;
}
a:after {
    content: '';
    clear: both;
    display: block;
}
a {
    color: #eb8800;
    transition: .4s;
}

.box-bug {
    width: 20%;
    float: left;
    padding: 0 10px;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    color: #4c4c4c;
    display: inline-block;
    margin-bottom: 15px;
    transition: .4s;
}

.box-brand {
    float: right;
    position: relative;
    width: 45%;
}
#current-play-title{
    color: #9ba7c0;
}


a {
    text-decoration: none;
}
.box-img-brand{
    height: 100px;
    width: 200px;

}
.f{

}